{% extends 'base.html.twig' %}

{% block title %}

{% if editSpecialite %}

 Formulaire de Modifiaction du Specialite

{% else %}
    
 Formulaire d'ajout d'une Specialite
    
{% endif %}
{% endblock %} 


{% block body %}

{% if editSpecialite %}
    <h2> Modification d'une Spécialité</h2>
{% else %}
     <h2> Ajout d'une Spécialité</h2>
{% endif %}    

{{ form_start(form) }}
<div class="form-group">
<div class="col-lg-4">
 {{ form_row(form.libelle, {'attr' : {'class' : "control", 'placeholder' : "Entrer une Spécialité" }}) }}
  </div>
   </div>
   <div class="form-group">
<div class="col-lg-4">
{{ form_row(form.service, {'attr' : {'class' : "control" }} ) }}

 </div>
   </div>

<button type="submit" class="btn btn-primary" > 

{% if editSpecialite %}
    
    Modifier 

{% else %}
    
    Ajouter

{% endif %}

  </button>
  
{{form_end(form)}}

{% endblock %}


